<a href="https://colab.research.google.com/github/1stjavawizard/datascience/blob/main/python827.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION TO TUPLE IN PYTHON

In [7]:
pp = (20,23,40,90)
print(pp)

pp2 = 30,50,60
print(pp2)

(20, 23, 40, 90)
(30, 50, 60)

# METHODS WITH TUPLE

In [9]:
print(pp.count(20))

1

In [10]:
print(pp.index(90))

3

In [11]:
print(pp[0:2])

(20, 23)

In [12]:
print(pp[2])

40

# CONTROL STATEMENT IN PYTHON

Syntax for 'for' loop


---



```
# for anyname in group:
    task to repeated
```

In [13]:
group = (60,80,90)

for a in group:
  print(a)

60
80
90

# CLASSWORK



*   CREATE TEN TUPLE VARIABLES
*   FIND THE SUM OF EACH ITEMS IN EACH VARIABLE

In [ ]:
print( 'result: ' , 4*6)

result:  24

# Assignment



1.   CREATE 25 FORMULARS USING FUNCTIONS IN PYTHON
2.   CREATE A GRADING SYSTEM APP WITH PYTHON
2.   CREATE ANY APP WORKING WITH LIST AND TUPLE IN PYTHON